.subheading h3 {
    text-align: left !important;
}

.list { 
    list-style-type: none;
    margin:auto;
    display: block;
    width: 95%;
    text-align:left
}

    .listItem { 
        display: inline-block;
        text-align: center;
        max-width: min-content;
    }

        .listItem:hover {
            filter:brightness(150%);
            transition: 0.2s;  
        }

/*fca5a5 hover */