.textBoxContainer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px 0; /* Optional: Adjust spacing between label and input */
}

.textBoxContainer input {
    margin-top: 5px; /* Optional: Adjust spacing between inputs */
}
