.student-activity-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    min-width: fit-content;
}

.student-activity-grid-item {
    background-color: #85d2f9;
    margin: 5px;
    padding: 5px;
    border: 1px solid #85d2f9;
    min-width: fit-content;
}

.student-activity-list-col {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.student-activity-list-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.student-activity-list-right {
    margin-left: auto;
    margin-top: auto;
    vertical-align: middle;
    margin-bottom: auto;
}

.student-activity-button-round {
    border-radius: 20px;
    vertical-align: middle;
    padding: auto;
    width: 200px
}

.header-row {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px
}

.header-item {
    margin-top: 0;
    display: inline;
    vertical-align: middle;
    margin-right : 5px
}

.header-item tag {
    padding: 5px
}