.progress-card {
    margin: 10px;
    height: 100%;
    position: relative;
}

.progress-card.p-card {
    background-color: #323232 !important;
}

.leftContent {
    text-align: left;
}

.centerContent {
    text-align: center;
}

.rightContent {
    text-align: right;
}

.program-button {
    margin: 5px
}