.student-badge-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Force 3 columns */
    gap: 20px;
    min-width: fit-content;
}

.student-badge-grid-item {
    background-color: #2f333b;
    margin: 5px;
    padding: 5px;
    border: 1px solid #2f333b;
    min-width: fit-content;
}

.badge-filter-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}