.pass-reset-form-button-field {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pass-reset-form-button {
  margin-right: 10px;
}

.more-info-segment-header {
  font-weight: bold;
  padding-left: 5px;
}

.more-info-segment {
  width: 400px;
  padding-top: 25px;
}