.login-footer {
  color:dimgrey;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.p-menuitem-text {
  color: #dad7cd
}

.p-menuitem-icon{
  color: #dad7cd
}

.p-panelmenu-icon {
  color: #dad7cd 
}

.p-menuitem {
  background-color: #283618;
}

.left-div {
  display: flex; 
  float: left; 
  max-width: 50%; 
  height: 100%; 
  align-items: center; 
  justify-content: center; 
  vertical-align: middle
}

.logo {
  width: 100%;
  min-height: auto; 
  border-radius: 8px; 
  margin: auto; 
  vertical-align: center
}

.right-div {
  width: 50%; 
  display: flex; 
  flex-direction: column; 
  padding: 15px;
  margin: auto 20px
}
/* .badge-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:blue
}

.badge-square {
  width: 50px;
  height: 50px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:crimson
}

.badge-triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-triangle .level {
  color: white;
  font-size: 20px;
}

.badge-diamond {
  width: 50px;
  height: 50px;
  background-color: green;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-diamond .level {
  transform: rotate(-45deg);
  color: white;
  font-size: 20px;
}

.badge-star {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid darkcyan;
  position: relative;
  margin-right: 20px;
}

.badge-star:before {
  content: ;
  position: absolute;
  top: 16px;
  left: -25px;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid darkcyan;
  transform: rotate(180deg);
}

.badge-star .level {
  position: absolute;
  color: white;
  font-size: 20px;
}

.badge-rectangle {
  width: 75px;
  height: 50px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange
}

.badge-parallelogram {
  width: 75px;
  height: 50px;
  background-color: purple;
  transform: skewX(-20deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-parallelogram .level {
  transform: skewX(20deg);
  color: white;
  font-size: 20px;
}

.badge-o-circle {
  width: 75px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:pink;
}

.badge-o-circle .level {
  color: black;
  font-size: 20px;
}

.level {
  color: white;
  font-size: 20px;
} */
